.App {
  text-align: center;
  background-color: #fbfbfb;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: left;
  justify-content: center;
  width: 60vw;
  font-size: calc(10px + 2vmin);
  color: #b0adb8;
  padding-top: calc(50px + 8vh);
  padding-left: 5vh;
  font-family: 'Share Tech Mono', monospace;
}

p {
  font-size: calc(10px + 1vmin);
}

footer {
  font-size: calc(10px + 0.3vmin);
  font-family: 'Share Tech Mono', monospace;
  color: #b0adb8;
  position: fixed;
  left: 0;
  bottom: 0;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.box-button {
  height: 80px;
  width: 300px;
  border: 2px solid #b0adb8;
  margin-top: 30px;
  background-color: transparent;
  font-family: 'Share Tech Mono', monospace;
  color: #b0adb8;
  font-size: calc(10px + 1vmin);
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}
